# Data manipulation, Visualization and numerical operations
pandas
numpy
matplotlib
seaborn

# Machine Learning Model, Optimization and utilities
xgboost
optuna
scikit-learn
scipy

# Saving and loading Python objects 
joblib

# Web application framework
streamlit

# Unitests
pytest 